@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    box-sizing: border-box;
    @apply m-0 p-0;
}

.appbox-topic{
    @apply text-neutral-300 text-center text-[14px] mb-2 font-light tracking-wide overflow-hidden md:text-[24px];
    font-family: 'Kanit',sans-serif;
}

.appbox2-topic{
    @apply text-neutral-300 text-center text-[14px] mb-2 font-light tracking-wide overflow-hidden md:text-[24px];
    font-family: 'Kanit',sans-serif;
}

.appbox-container {
    @apply flex justify-center items-center h-auto w-auto;
  }

.appbox2-container {
    @apply flex justify-center items-center h-auto w-auto;
}

.appbox {
    @apply p-8 bg-[url('https://images.pexels.com/photos/2923591/pexels-photo-2923591.jpeg')] bg-cover rounded-md shadow-md;
    box-shadow: -2px 5px 25px 0px rgba(255,255,255,0.41);
    /* -webkit-box-shadow: -2px 5px 25px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: -2px 5px 25px 0px rgba(255,255,255,0.41); */
}
 
.appbox2 {
    @apply p-8 bg-[url('https://images.pexels.com/photos/39284/macbook-apple-imac-computer-39284.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1')] bg-cover rounded-md shadow-md;
    box-shadow: -2px 5px 25px 0px rgba(255,255,255,0.41);
    /* -webkit-box-shadow: -2px 5px 25px 0px rgba(255,255,255,0.41);
    -moz-box-shadow: -2px 5px 25px 0px rgba(255,255,255,0.41); */
}

.appbox-content {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(7, 1fr);   
    gap: 20px;                              
}

.appbox2-content {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(4, 1fr);   
    gap: 20px;                              
}
  
.grid-item {
    display: flex;     
    justify-content: center;
    align-items: center;
}
  
.grid-item img {
    @apply max-w-full max-h-full object-cover;
}
  

.grid-anim{
    animation : fadeInUp 0.5s ease;
}