@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes fadeBorder {
    0% {
      border-bottom-color: rgba(255, 255, 255, 0); /* เริ่มต้นโปร่งใส */
      border-bottom-width: 1px;
      width: 0;
    }
    20%{
        border-bottom-color: rgba(255, 255, 255, 0.2); /* เลือนแรก */
        border-bottom-width: 1px;
        width: 10%;
    }
    30%{
        border-bottom-color: rgba(255, 255, 255, 0.3); /* เลือนกลาง */
        border-bottom-width: 1px;
        width: 25%;
    }
    50% {
      border-bottom-color: rgba(255, 255, 255, 0.4); /* เลือนลาง */
      border-bottom-width: 1px;
      width: 50%;
    }
    70% {
      border-bottom-color: rgba(255, 255, 255, 0.2); /* เลือนสุดท้าย */
      border-bottom-width: 1px;
      width: 75%;
    }
    100% {
      border-bottom-color: rgba(255, 255, 255, 0); /* ชัดเจน */
      border-bottom-width: 1px;
      width: 100%;
    }
}

@keyframes shadow{
    0%{
        text-shadow: 0px 0px 0px #090909;
    }
    50%{
        text-shadow: 0px 1px 2px white;
    }
    100%{
        text-shadow: 0px 0px 0px #090909;
    }
}

.desc-container{ 
    @apply w-screen;
}

.desc-bg{
    @apply block text-center text-neutral-500/80 leading-[180px] text-[60px] w-full h-[200px] bg-[url('https://images.pexels.com/photos/9665178/pexels-photo-9665178.jpeg')] bg-cover bg-center bg-no-repeat overflow-hidden;
    animation: shadow 10s infinite;
    transition: all ease-in-out;
}

.animate-border{
    position:relative;
    border-bottom: 2px solid transparent;
    transition: all 2s ease;
    animation: fadeBorder 10s infinite;
    overflow: hidden;
}
